/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Cor de fundo escura */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

/* Container do formulário */
.login-container {
    background-color: #333; /* Cor de fundo do formulário */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Logo */
.logo {
    width: 50px;
    margin-bottom: 20px;
}

/* Título */
h2 {
    margin-bottom: 20px;
    color: #fff;
}

/* Estilo dos campos de entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #ff4081;
    outline: none;
}

/* Estilo do botão de login */
/* Estilo do botão */
.btn {
    background-color: #ff4081; /* Cor de fundo do botão */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 15px; /* Adicionando espaço entre os botões */
}

.btn:hover {
    background-color: #a82d56; /* Cor do botão quando passa o mouse */
}

